In [3]:
import math

In [4]:
def IdulAdha(hy):
    hm = 12
    hd = 10
    N = hd + math.floor(29.5001*(hm-1)+0.99)
    Q = math.floor(hy/30)
    R = hy%30
    A = math.floor((11*R+3)/30)
    W = 404*Q + 354*R + 208 + A
    Q1 = math.floor(W/1461)
    Q2 = W%1461
    G = 621 + 4*math.floor(7*Q+Q1)
    K = math.floor(Q2/365.2422)
    E = math.floor(365.2422*K)
    J = Q2 - E + N - 1
    X = G + K
    if J > 366 and X%4 == 0:
        J = J - 366
        X = X + 1
    elif J > 365 and X%4 > 0:
        J = J - 365
        X = X + 1
    JD = math.floor(365.25*(X-1)) + 1721423 + J
    alp = math.floor((JD-1867216.25)/36524.25)
    beta = JD + 1 + alp - math.floor(alp/4)
    if JD < 2299161:
        beta = JD
    b = beta + 1524
    c = math.floor((b-122.1)/365.25)
    d = math.floor(365.25*c)
    e = math.floor((b-d)/30.6001)
    GD = b - d - math.floor(30.6001*e)
    if e < 14:
        GM = e - 1
    else:
        GM = e - 13
    if GM > 2:
        GY = c - 4716
    else:
        GY = c - 4715
    print("N: " + str(N))
    print("Q: " + str(Q))
    print("R: " + str(R))
    print("A: " + str(A))
    print("W: " + str(W))
    print("Q1: " + str(Q1))
    print("Q2: " + str(Q2))
    print("G: " + str(G))
    print("K: " + str(K))
    print("E: " + str(E))
    print("J: " + str(J))
    print("X: " + str(X))
    print("JD: " + str(JD))
    print("alpha: " + str(alp))
    print("beta: " + str(beta))
    print("b: " + str(b))
    print("c: " + str(c))
    print("d: " + str(d))
    print("e: " + str(e))
    print('Untuk tanggal dalam kalender Hijriyah',hd,hm,hy)
    print('Idul Adha dalam kalender Masehi mulai pada',GD,GM,GY)
    hd2 = 13
    N2 = hd2 + math.floor(29.5001*(hm-1)+0.99)
    Q2 = math.floor(hy/30)
    R2 = hy%30
    A2 = math.floor((11*R2+3)/30)
    W2 = 404*Q2 + 354*R2 + 208 + A2
    Q12 = math.floor(W2/1461)
    Q22 = W2%1461
    G2 = 621 + 4*math.floor(7*Q2+Q12)
    K2 = math.floor(Q22/365.2422)
    E2 = math.floor(365.2422*K2)
    J2 = Q22 - E2 + N2 - 1
    X2 = G2 + K2
    if J2 > 366 and X2%4 == 0:
        J2 = J2 - 366
        X2 = X2 + 1
    elif J2 > 365 and X2%4 > 0:
        J2 = J2 - 365
        X2 = X2 + 1
    JD2 = math.floor(365.25*(X2-1)) + 1721423 + J2
    alp2 = math.floor((JD2-1867216.25)/36524.25)
    beta2 = JD2 + 1 + alp2 - math.floor(alp2/4)
    if JD2 < 2299161:
        beta2 = JD2
    b2 = beta2 + 1524
    c2 = math.floor((b2-122.1)/365.25)
    d2 = math.floor(365.25*c2)
    e2 = math.floor((b2-d2)/30.6001)
    GD2 = b2 - d2 - math.floor(30.6001*e2)
    if e2 < 14:
        GM2 = e2 - 1
    else:
        GM2 = e2 - 13
    if GM > 2:
        GY2 = c2 - 4716
    else:
        GY2 = c2 - 4715
    print('DD/MM/YYYY Hijriyah',hd2,hm,hy)
    print('Idul Adha DD/MM/YYYY Masehi berakhir pada',GD2,GM2,GY2)
    return

In [5]:
def Maulid(hy):
    hm = 3
    hd = 12
    N = hd + math.floor(29.5001*(hm-1)+0.99)
    Q = math.floor(hy/30)
    R = hy%30
    A = math.floor((11*R+3)/30)
    W = 404*Q + 354*R + 208 + A
    Q1 = math.floor(W/1461)
    Q2 = W%1461
    G = 621 + 4*math.floor(7*Q+Q1)
    K = math.floor(Q2/365.2422)
    E = math.floor(365.2422*K)
    J = Q2 - E + N - 1
    X = G + K
    if J > 366 and X%4 == 0:
        J = J - 366
        X = X + 1
    elif J > 365 and X%4 > 0:
        J = J - 365
        X = X + 1
    JD = math.floor(365.25*(X-1)) + 1721423 + J
    alp = math.floor((JD-1867216.25)/36524.25)
    beta = JD + 1 + alp - math.floor(alp/4)
    if JD < 2299161:
        beta = JD
    b = beta + 1524
    c = math.floor((b-122.1)/365.25)
    d = math.floor(365.25*c)
    e = math.floor((b-d)/30.6001)
    GD = b - d - math.floor(30.6001*e)
    if e < 14:
        GM = e - 1
    else:
        GM = e - 13
    if GM > 2:
        GY = c - 4716
    else:
        GY = c - 4715
    print('Tanggal Hijriyah',hd,hm,hy)
    print('Maulid DD/MM/YYYY Masehi jatuh pada',GD,GM,GY)
    if ((11*R +3)%30) > 18:
        print('Tahun Hijriyah kabisat')
    else:
        print('Tahun Hijriyah biasa')
    return

In [6]:
def Muharram(hy):
    hm = 1
    hd = 1
    N = hd + math.floor(29.5001*(hm-1)+0.99)
    Q = math.floor(hy/30)
    R = hy%30
    A = math.floor((11*R+3)/30)
    W = 404*Q + 354*R + 208 + A
    Q1 = math.floor(W/1461)
    Q2 = W%1461
    G = 621 + 4*math.floor(7*Q+Q1)
    K = math.floor(Q2/365.2422)
    E = math.floor(365.2422*K)
    J = Q2 - E + N - 1
    X = G + K
    if J > 366 and X%4 == 0:
        J = J - 366
        X = X + 1
    elif J > 365 and X%4 > 0:
        J = J - 365
        X = X + 1
    JD = math.floor(365.25*(X-1)) + 1721423 + J
    alp = math.floor((JD-1867216.25)/36524.25)
    beta = JD + 1 + alp - math.floor(alp/4)
    if JD < 2299161:
        beta = JD
    b = beta + 1524
    c = math.floor((b-122.1)/365.25)
    d = math.floor(365.25*c)
    e = math.floor((b-d)/30.6001)
    GD = b - d - math.floor(30.6001*e)
    if e < 14:
        GM = e - 1
    else:
        GM = e - 13
    if GM > 2:
        GY = c - 4716
    else:
        GY = c - 4715
    print('Tanggal Hijriyah',hd,hm,hy)
    print('Tahun Baru Muharram dalam kalender Masehi jatuh pada',GD,GM,GY)
    if ((11*R +3)%30) > 18:
        print('Tahun Hijriyah kabisat')
    else:
        print('Tahun Hijriyah biasa')
    return

In [7]:
# Maulid Untuk tahun 1443 Hijriah
Maulid(1443)

Tanggal Hijriyah 12 3 1443
Maulid DD/MM/YYYY Masehi jatuh pada 19 10 2021
Tahun Hijriyah biasa

In [8]:
# Maulid Untuk tahun 1445 Hijriah
Maulid(1445)

Tanggal Hijriyah 12 3 1445
Maulid DD/MM/YYYY Masehi jatuh pada 27 9 2023
Tahun Hijriyah kabisat

In [9]:
# Idul Adha Untuk tahun 1443 Hijriah
IdulAdha(1443)

N: 335
Q: 48
R: 3
A: 1
W: 20663
Q1: 14
Q2: 209
G: 2021
K: 0
E: 0
J: 178
X: 2022
JD: 2459771
alpha: 16
beta: 2459784
b: 2461308
c: 6738
d: 2461054
e: 8
Untuk tanggal dalam kalender Hijriyah 10 12 1443
Idul Adha dalam kalender Masehi mulai pada 10 7 2022
DD/MM/YYYY Hijriyah 13 12 1443
Idul Adha DD/MM/YYYY Masehi berakhir pada 13 7 2022

In [10]:
# Idul Adha Untuk tahun 1445 Hijriah
IdulAdha(1445)

N: 335
Q: 48
R: 5
A: 1
W: 21371
Q1: 14
Q2: 917
G: 2021
K: 2
E: 730
J: 156
X: 2024
JD: 2460479
alpha: 16
beta: 2460492
b: 2462016
c: 6740
d: 2461785
e: 7
Untuk tanggal dalam kalender Hijriyah 10 12 1445
Idul Adha dalam kalender Masehi mulai pada 17 6 2024
DD/MM/YYYY Hijriyah 13 12 1445
Idul Adha DD/MM/YYYY Masehi berakhir pada 20 6 2024

In [11]:
# Muharram Untuk tahun 1443 Hijriah
Muharram(1443)

Tanggal Hijriyah 1 1 1443
Tahun Baru Muharram dalam kalender Masehi jatuh pada 10 8 2021
Tahun Hijriyah biasa

In [12]:
# Muharram Untuk tahun 1445 Hijriah
Muharram(1445)

Tanggal Hijriyah 1 1 1445
Tahun Baru Muharram dalam kalender Masehi jatuh pada 19 7 2023
Tahun Hijriyah kabisat